In [1]:
import pandas as pd

In [2]:
adi = pd.read_csv("raw_data/FIPS_ADI.csv", dtype={"FIPS":"string"})
adi = adi.filter(["FIPS", "ADI_NATRANK"])
adi["TRACT"] =

                FIPS ADI_NATRANK
0       010010201001          89
1       010010201002          52
2       010010202001          88
3       010010202002          82
4       010010203001          71
...              ...         ...
220328  721537506011          98
220329  721537506012          88
220330  721537506013          75
220331  721537506021          98
220332  721537506022          98

[220333 rows x 2 columns]